{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/home_qr.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate pb-5 text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                            class="fa fa-chevron-right"></i></a></span> <span>About us <i
                            class="fa fa-chevron-right"></i></span></p>
                    <h1 class="mb-0 bread">About Us</h1>
                </div>
            </div>
        </div>
    </section>



    <section class="ftco-section ftco-about img">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12 about-intro">
                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <div class="d-flex about-wrap">
                                <div class="img d-flex align-items-center justify-content-center"
                                     style="background-image:url({% static 'images/about_qr.jpg' %});">
                                </div>
                                <div class="img-2 d-flex align-items-center justify-content-center"
                                     style="background-image:url({% static 'images/about_qr.jpg' %});">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-md-5 py-5">
                            <div class="row justify-content-start pb-3">
                                <div class="col-md-12 heading-section ftco-animate">
                                    <span class="subheading">All About QR Codes</span>
                                    <h2 class="mb-4">What is a QR Code?</h2>
                                    <p>QR (Quick Response) Code is a two-dimensional barcode that stores information in a machine-readable format. It typically appears as 
                                        a square pattern of black dots and squares on a white background. QR codes can contain links, text, contact details, 
                                        or other data that can be quickly accessed by scanning them with a smartphone or QR scanner.</p>
                                    <p><a href="#" class="btn btn-primary">Get in touch with us</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section testimony-section bg-light">
        <div class="overlay" style="background-image: url({% static 'images/home_qr.jpg' %});"></div>
        <div class="container">
            <div class="row pb-4">
                <div class="col-md-7 heading-section ftco-animate">
                    <span class="subheading">Testimonial</span>
                    <h2 class="mb-4">Comments</h2>
                </div>
            </div>
        </div>
        <div class="container container-2">
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">I found the information I needed this quickly, many thanks!</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url({% static 'images/person_4.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">Samuel Moore</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">The site made a very good impression on me, everything is easy and understandable.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">David Williams</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">I found the information I needed this quickly, many thanks!</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url({% static 'images/person_3.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">John Johnson</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">The site made a very good impression on me, everything is easy and understandable.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">James Smith</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">The site made a very good impression on me, everything is easy and understandable.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">Alexander Davis</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-intro ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="img" style="background-image: url({% static 'images/bg_4.jpg' %});">
                        <div class="overlay"></div>
                        <h2>Fast, convenient, and effective.</h2>
                        <p>Join us for easy creation and usage of QR codes. Fast, convenient, and effective!</p>
                        <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Enroll Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section services-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 heading-section pr-md-5 ftco-animate d-flex align-items-center">
                    <div class="w-100 mb-4 mb-md-0">
                        <span class="subheading">Welcome to the QR Code site</span>
                        <h2 class="mb-4">What is QR Code Generator</h2>
                        <p>A QR Code generator is a tool that allows you to create QR (Quick Response) codes, which are two-dimensional 
                            barcodes that can store information such as website URLs, text, contact details, Wi-Fi credentials, and much more.
                             These codes can be scanned using a QR code scanner or a smartphone camera,
                             instantly providing the stored data.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-tools"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Multi-URL QR Code </h3>
                                    <p>Create a single QR Code containing multiple links available in a single scan for use cases, 
                                        such as social media pages, property listings, etc. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-2 d-flex align-items-center justify-content-center"><span
                                        class="flaticon-instructor"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Email QR Code </h3>
                                    <p> Boost communication, feedback, booking, or troubleshooting
                                         by triggering emails with a QR Code scan. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-3 d-flex align-items-center justify-content-center"><span
                                        class="flaticon-quiz"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Phone QR Code </h3>
                                    <p> Trigger calls to a designated phone number from any device with a 
                                        quick QR Code scan for lightning-fast call outreach. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-4 d-flex align-items-center justify-content-center"><span
                                        class="flaticon-browser"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">URL QR Code </h3>
                                    <p>Instantly share any website, social media profile, portfolio, 
                                        or any other online content with a URL.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
