{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

    <div class="hero-wrap js-fullheight" style="background-image: url({% static 'images/qrcode.jpg' %});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Welcome to the QR Code site</span>
                    {% if user.is_authenticated %}
                        <h1>Now, try our QR code generator!...</h1>
                        <p class="mb-0"><a href="{% url 'QRcode' %}" class="btn btn-primary px-4 py-3">Try it out!</a>
                    </p>
                    {% else %}
                        <h1 class="mb-4">What is QR Code Generator</h1>
                    <p class="caps">A QR Code generator is a tool that allows you to create QR (Quick Response) codes,
                        which are two-dimensional
                        barcodes that can store information such as website URLs, text, contact details, Wi-Fi
                        credentials, and much more.
                        These codes can be scanned using a QR code scanner or a smartphone camera,
                        instantly providing the stored data.</p>

                    <p class="mb-0"><a href="#" class="btn btn-primary">Our Course</a>
                        <a href="#" class="btn btn-white">Learn More</a>
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
        <div class="container">
            <div class="row">
                <div class="col-md-7"></div>
                <div class="col-md-5 order-md-last">

                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">Take your QR Codes to the next level </span>
                    <h2 class="mb-4">Explore more ways to upgrade your QR Codes with The QR Code Generator: </h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center"
                       style="background-image: url({% static 'images/ad_free_scan.png' %});">
                        <div class="text w-100 text-center">
                            <h3>Ad_free</h3>
                            <span>scanning</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center"
                       style="background-image: url({% static 'images/flexible.png' %});">
                        <div class="text w-100 text-center">
                            <h3>Flexible user, </h3>
                            <span>QR Code limits</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center"
                       style="background-image: url({% static 'images/multi_user.png' %});">
                        <div class="text w-100 text-center">
                            <h3>Multi_user</h3>
                            <span>collaboration</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center"
                       style="background-image: url({% static 'images/priority.png' %});">
                        <div class="text w-100 text-center">
                            <h3>Priority customer</h3>
                            <span>support</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center"
                       style="background-image: url({% static 'images/in_depth.png' %});">
                        <div class="text w-100 text-center">
                            <h3>In_depth</h3>
                            <span>scan data</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-lg-2">
                    <a href="#" class="course-category img d-flex align-items-center justify-content-center"
                       style="background-image: url({% static 'images/plain_text.png' %});">
       <span class="text w-100 text-center">
          <h3>Plain Text</h3>
          <span>QR Code</span>
      </span>
                    </a>
                </div>
                <div class="col-md-12 text-center mt-5">
                    <a href="#" class="btn btn-secondary">Try it out!</a>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center pb-4">
                <div class="col-md-12 heading-section text-center ftco-animate">
                    <span class="subheading">QR Code Generate</span>
                    <h2 class="mb-4">Which QR Code solutions do you need? </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url({% static 'images/solution-1.webp' %});">

                        </a>
                        <div class="text p-4">
                            <h3><a href="#"> QR Codes for education</a></h3>
                            <p class="advisor">Use QR Codes for educational institutions for various use cases, such as
                                networking,
                                sharing notes or presentations with students, event management, etc. </span></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url({% static 'images/solution-2.webp' %});">

                        </a>
                        <div class="text p-4">
                            <h3><a href="#">QR Codes for personal use</a></h3>
                            <p class="advisor">If you’re an individual, small business, or marketer, you can use QR
                                Codes
                                for personal use to link to your portfolio, business pages, and other
                                assets. </span></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url({% static 'images/solution-3.webp' %});">

                        </a>
                        <div class="text p-4">
                            <h3><a href="#"> QR Codes for restaurants </a></h3>
                            <p class="advisor">Generate a QR Code for your restaurant to offer a contactless menu,
                                boost your social media following, or create your multi-link business page.</span></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url({% static 'images/solution-4.webp' %});">

                        </a>
                        <div class="text p-4">
                            <h3><a href="#">QR Codes for real estate </a></h3>
                            <p class="advisor">QR Codes can open doors for real estate businesses. You can create
                                a property listing page, share property catalogs, and more.
                                </span></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url({% static 'images/solution-5.webp' %});">

                        </a>
                        <div class="text p-4">
                            <h3><a href="#">DQR Codes for retail </a></h3>
                            <p class="advisor">Transform your ecommerce business with QR Codes. Promote discount offers,
                                collect customer feedback, share catalogs, build your social media presence, and
                                more</span></p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 ftco-animate">
                    <div class="project-wrap">
                        <a href="#" class="img" style="background-image: url({% static 'images/work-6.jpg' %});">

                        </a>
                        <div class="text p-4">
                            <h3><a href="#">individuals and solopreneurs</a></h3>
                            <p class="advisor">Use QR Codes for your social media profiles, portfolio,
                                online stores, or business cards to showcase your work and manage your
                                clients</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-section ftco-about img">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-12 about-intro">
                    <div class="row">
                        <div class="col-md-6 d-flex">
                            <div class="d-flex about-wrap">
                                <div class="img d-flex align-items-center justify-content-center"
                                     style="background-image:url({% static 'images/about_qr.jpg' %});">
                                </div>
                                <div class="img-2 d-flex align-items-center justify-content-center"
                                     style="background-image:url({% static 'images/about_qr.jpg' %});">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 pl-md-5 py-5">
                            <div class="row justify-content-start pb-3">
                                <div class="col-md-12 heading-section ftco-animate">
                                    <span class="subheading">All About QR Codes</span>
                                    <h2 class="mb-4">What is a QR Code?</h2>
                                    <p>QR (Quick Response) Code is a two-dimensional barcode that stores information in
                                        a machine-readable format. It typically appears as
                                        a square pattern of black dots and squares on a white background. QR codes can
                                        contain links, text, contact details,
                                        or other data that can be quickly accessed by scanning them with a smartphone or
                                        QR scanner.</p>
                                    <p><a href="#" class="btn btn-primary">Get in touch with us</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="ftco-section testimony-section bg-light">
        <div class="overlay" style="background-image: url({% static 'images/home_qr.jpg' %});"></div>
        <div class="container">
            <div class="row pb-4">
                <div class="col-md-7 heading-section ftco-animate">
                    <span class="subheading">Testimonial</span>
                    <h2 class="mb-4">Comments</h2>
                </div>
            </div>
        </div>
        <div class="container container-2">
            <div class="row ftco-animate">
                <div class="col-md-12">
                    <div class="carousel-testimony owl-carousel">
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">I found the information I needed this quickly, many thanks!</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img"
                                             style="background-image: url({% static 'images/person_4.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">Samuel Moore</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">The site made a very good impression on me, everything is easy and
                                        understandable.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img"
                                             style="background-image: url({% static 'images/person_2.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">David Williams</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">I found the information I needed this quickly, many thanks!</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img"
                                             style="background-image: url({% static 'images/person_3.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">John Johnson</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">The site made a very good impression on me, everything is easy and
                                        understandable.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img"
                                             style="background-image: url({% static 'images/person_1.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">James Smith</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap py-4">
                                <div class="text">
                                    <p class="star">
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    </p>
                                    <p class="mb-4">The site made a very good impression on me, everything is easy and
                                        understandable.</p>
                                    <div class="d-flex align-items-center">
                                        <div class="user-img"
                                             style="background-image: url({% static 'images/person_2.jpg' %})"></div>
                                        <div class="pl-3">
                                            <p class="name">Alexander Davis</p>
                                            <span class="position">Marketing Manager</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="ftco-intro ftco-section ftco-no-pb">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="img" style="background-image: url({% static 'images/bg_4.jpg' %});">
                        <div class="overlay"></div>
                        <h2>Fast, convenient, and effective.</h2>
                        <p>Join us for easy creation and usage of QR codes. Fast, convenient, and effective!</p>
                        <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Enroll Now</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section services-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 heading-section pr-md-5 ftco-animate d-flex align-items-center">
                    <div class="w-100 mb-4 mb-md-0">
                        <span class="subheading">Welcome to the QR Code site</span>
                        <h2 class="mb-4">What is QR Code Generator</h2>
                        <p>A QR Code generator is a tool that allows you to create QR (Quick Response) codes, which are
                            two-dimensional
                            barcodes that can store information such as website URLs, text, contact details, Wi-Fi
                            credentials, and much more.
                            These codes can be scanned using a QR code scanner or a smartphone camera,
                            instantly providing the stored data.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon d-flex align-items-center justify-content-center"><span
                                        class="flaticon-tools"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Multi-URL QR Code </h3>
                                    <p>Create a single QR Code containing multiple links available in a single scan for
                                        use cases,
                                        such as social media pages, property listings, etc. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-2 d-flex align-items-center justify-content-center"><span
                                        class="flaticon-instructor"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Email QR Code </h3>
                                    <p> Boost communication, feedback, booking, or troubleshooting
                                        by triggering emails with a QR Code scan. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-3 d-flex align-items-center justify-content-center"><span
                                        class="flaticon-quiz"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">Phone QR Code </h3>
                                    <p> Trigger calls to a designated phone number from any device with a
                                        quick QR Code scan for lightning-fast call outreach. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
                            <div class="services">
                                <div class="icon icon-4 d-flex align-items-center justify-content-center"><span
                                        class="flaticon-browser"></span></div>
                                <div class="media-body">
                                    <h3 class="heading mb-3">URL QR Code </h3>
                                    <p>Instantly share any website, social media profile, portfolio,
                                        or any other online content with a URL.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}