{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QR Code Generator | CodingNepal</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/qrsite.css' %}">
</head>
<body class="">

<header>
    <h1>QR Code Generator</h1>
    <p>Paste the URL/Text here</p>
</header>

<div class="wrapper">
    <div class="form">
        <input type="text" placeholder="Enter text to generate QR code">
        <button>Generate QR Code</button>
        <button class="download-btn" style="display: none;">Download QR Code</button>
    </div>
    <div class="qr-code">
        <img src="" alt="qr-code">
    </div>
</div>


</body>

<script src="{% static 'main/js/script.js' %}"></script>
</html>


<a href="#" class="download-link" style="display: none;">
    <button type="button" class="btn btn-primary px-5 py-3 mt-2 w-100">Download QR code</button>
</a>